body {
  background-color: #e23636;
  color: white;
  font-family: Marvel;
}
.title{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 35px;
  -webkit-text-stroke: 1px black;
}
.pagination{
  display: flex;
  justify-content: center;
}
.section{
  padding-right: 5px;
  cursor: pointer;
}
